.footer{
    text-align: center;
    background-color: rgb(20, 1, 68);
    color: #ded6b3;
    padding-bottom: 20px;
}

.footer h1{
    padding-top: 15px;
    margin: 0 0 0 1.5rem;
    font-size: 2rem;
    font-weight: 600;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content p{
    margin: 0 1.5rem;
    font-size: 1rem;
    font-weight: 300;
    color: #ded6b3;
}

.footer-content a{
    text-decoration: none;
}