.footer{
    text-align: left;
    background-color: rgb(20, 1, 68);
    color: #fff;
}

.footer h1{
    margin: 0 20px;
    font-size: 2rem;
}

.footer p{
    margin: 0 30px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.footer a{
    text-decoration: none;
}